body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
#nav				{ z-index: 53 ; background-color:#000000; font: 13px Arial, sans-serif ;text-transform: uppercase;}
#nav ul 			{ z-index: 52 ; background-color:#000000; margin:0px 0px; padding:0px 0px; height:40px;}
#nav li 			{ list-style:none; margin:0px 0px; padding:0px 0px; float:left; display:inline; position:relative;}
#nav li a 			{ display:block; text-decoration:none; color:#196a89; line-height:40px; padding:0px 15px;}
#nav li a:hover,nav li:hover > a { color:white;}
#nav li ul 			{ position:absolute; top:100%; left:0px; z-index:99; width:200px; height:auto; display:none;}
#nav li ul li 		{ float:none; display:block;}
#nav li ul ul 		{ top:0px; left:100%;}

#language-selector  { z-index: 54 ; text-align: center}